/* CSS Reset */
*, *::before, *::after { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

:root {
    --gray : rgb(160, 160, 160);
    --border-gray: rgb(165, 165, 165);
    --light-gray : #F3F3F3;
    --soft-lavender: #e1e8f6;
    --dark-gray: #DCE1E3;
    --lapis: #39a0ca;
    --ice-blue: #a0d2eb;
    --peach: #f3756b;
    --coffee: #e3dbc9;
}

@font-face {
    font-family: minecraftFont;
    src: url(./Minecraftia-Regular.ttf);
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c9f9ff;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: minecraftFont, arial, Helvetica;
    background-image: url('./minecraft-background.jpg'); 
    background-size: auto;
}

.App {
    width: 100%;
    height: 100%;
}

img {
    height: 160px;
    width: auto;
}

.header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    .header {
        padding-top: 50px;
        font-size: 40px;
    }
}

#gameboard-wrapper {
    .gameboard {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
    }
}

.card {
    width: 185px;
    height: 270px;
    border: rgb(219, 219, 219) solid;
    border-radius: 7px;
    border-width: 2px;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 6px 10px 6px;
    background-color: #94dbffd3;

    &:hover .card-image {
        opacity: 0.85;
        transition: 0.55s;
        transform: translate(0em, -0.35em)
      }
    .card-image {
        padding-top: 15px;
    }
    .card-name {
        padding-top: 5px;
        font-size: 18px;
    }
}