/* CSS Reset */
*, *::before, *::after { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

:root {
    --gray : rgb(160, 160, 160);
    --border-gray: rgb(165, 165, 165);
    --light-gray : #F3F3F3;
    --soft-lavender: #e1e8f6;
    --dark-gray: #DCE1E3;
    --lapis: #39a0ca;
    --ice-blue: #a0d2eb;
    --peach: #f3756b;
    --coffee: #e3dbc9;
}

@font-face {
    font-family: minecraftFont;
    src: url(./Minecraftia-Regular.ttf);
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c9f9ff;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: minecraftFont, arial, Helvetica;
    background-image: url('./minecraft-background.jpg'); 
    background-size: auto;
}

.App {
    width: 100%;
    height: 100%;
}

img {
    height: 160px;
    width: auto;
}

.header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    .header {
        width: 1100px;
        height: 85px;
        background-color: #94dbfff3;
        margin-top: 25px;
        padding-top: 15px;
        font-size: 45px;
        letter-spacing: 1.7px;
        word-spacing: 7px;
        text-align: center;
        border: black solid;
        border-width: 2.5px;
        border-radius: 15px;
        box-shadow: 0 5px 5px rgb(73, 73, 73);
    }
}

#score-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    #score-container {
        display: flex;
        width: 900px;
        height: 70px;
        background: rgba(236, 236, 236, 0.856);
        margin-top: 23px;
        padding-top: 13px;
        border-radius: 18px;
        box-shadow: 0 5px 5px rgba(185, 184, 184, 0.541);
        .instructions {
            margin-left: 38px;
            width: 550px;
            word-spacing: 1px;
        }
        .score {
            margin-left: 125px;
            width: 150px;
            word-spacing: 1.2px;
            letter-spacing: 0.2px;
            #streak {
                color: rgb(17, 211, 17);
            }
            #highscore {
                color: rgb(250, 166, 11);
            }
        }
    }
}

#gameboard-wrapper {
    width: 100%;
    .gameboard {
        margin-top: 12px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        :nth-child(n+15) {
                display: none;
        }
    }
}

.card {
    width: 195px;
    height: 260px;
    border: rgb(219, 219, 219) solid;
    border-radius: 9px;
    border-width: 1.955px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 7px 12px 7px;
    background-color: #94dbffd3;
    box-shadow: 0 5px 5px rgb(158, 158, 158);
    &:hover .card-image {
        opacity: 0.85;
        transition: 0.35s;
        transform: translate(0em, -0.35em)
      }
    &:active .card-image {
        transform: translate(0em, 0.015em); 
        transition: 0.1s;
    }
    &:active {
        box-shadow: 0 5px 5px rgba(219, 205, 72, 0.726);

    }
    .card-image {
        padding-top: 18px;
    }
    .card-name {
        padding-top: 15px;
        font-size: 19px;
        letter-spacing: 0.5px;
    }
}